 <div id="header-container"></div>
    <script>
    $(function(){
        $('#header-container').load('header.html');
    });
    </script>
     
    <!-- 产品详情 -->
    <div class="slider-container">
        <div class="slider">
            <!-- 这里的图片路径可以根据实际情况修改 -->
    
            <img src="images/index_05.jpg" alt="Slide1">
            <img src="images/index_05.jpg" alt="Slide2">
            <img src="images/index_05.jpg" alt="Slide3">
        </div>
        <button class="prev" onclick="prevSlide()">&#10094;</button>
        <button class="next" onclick="nextSlide()">&#10095;</button>
    </div>
   <!-- 精彩瞬间 -->
    <div class="live-bg">
        <h3>精彩现场</h3>
        <div class="video-container" >
            <video class="video-bg"  width="1500" height="700"  controls>
                <source src="https://example.com/sample.mp4" type="video/mp4">
                您的浏览器不支持视频标签
            </video>
        </div>
    </div>
  
    <!-- 精彩瞬间 -->
    <div class="live-bg" >
        <h3>展会服务1</h3>
        <!-- 轮播 -->
        <div class="slider-container">
            <div class="slider">
                <!-- 这里的图片路径可以根据实际情况修改 -->
                <!-- <img src="images/index_05.jpg" alt="Slide 1">
                <img src="images/index_05.jpg" alt="Slide 2">
                <img src="images/index_05.jpg" alt="Slide 3"> -->
            </div>
            <button class="prev" onclick="prevSlide()">&#10094;</button>
            <button class="next" onclick="nextSlide()">&#10095;</button>
        </div>
        <script src="banner.js"></script>
        <!-- 资讯内容 -->
       <div class="info-detail">
         <img src="images/index_05.jpg" class="info-logo">
        <div class="info-content">
            <h3>展会资讯1</h3>
            <p>展会资讯内容1</p>
        </div> 
       </div>
         <!-- 资讯内容 -->
         <div class="info-detail">
            <img src="images/index_05.jpg" class="info-logo">
           <div class="info-content">
               <h3>展会资讯1</h3>
               <p>展会资讯内容1</p>
           </div> 
          </div>
            <!-- 资讯内容 -->
       <div class="info-detail">
        <img src="images/index_05.jpg" class="info-logo">
       <div class="info-content">
           <h3>展会资讯1</h3>
           <p>展会资讯内容1</p>
       </div> 
      </div>
    
      
           
    </div>
     <!-- 精彩瞬间 -->
     <div class="live-bg">
        <h3>展会服务</h3>
        <div class="service-container">
            <div class="service-item">
                <div class="service-item-detail">
                    <img class="detail-image" width="60" src="images/icon.png"/>
                <div class="detail">
                    服务项目服务项
                </div>
               
                </div>
            </div>
            <div class="service-item">
                <div class="service-item-detail">
                    <img class="detail-image" width="60" src="images/icon.png"/>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                </div>
            </div>
            <div class="service-item">
                <div class="service-item-detail">
                    <img class="detail-image" width="60" src="images/icon.png"/>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                </div>
            </div>
            <div class="service-item">
                <div class="service-item-detail">
                    <img class="detail-image" width="60" src="images/icon.png"/>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                </div>
            </div>
            <div class="service-item">
                <div class="service-item-detail">
                    <img class="detail-image" width="60" src="images/icon.png"/>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                </div>
            </div>
            <div class="service-item">
                <div class="service-item-detail">
                    <img class="detail-image" width="60" src="images/icon.png"/>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                </div>
            </div>
            <div class="service-item">
                <div class="service-item-detail">
                    <img class="detail-image" width="60" src="images/icon.png"/>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                </div>
            </div>
            <div class="service-item">
                <div class="service-item-detail">
                    <img class="detail-image" width="60" src="images/icon.png"/>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                </div>
            </div>
            <div class="service-item">
                <div class="service-item-detail">
                    <img class="detail-image" width="60" src="images/icon.png"/>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                </div>
            </div>
            <div class="service-item">
                <div class="service-item-detail">
                    <img class="detail-image" width="60" src="images/icon.png"/>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                </div>
            </div>
          </div>
    </div>
     <!-- 精彩瞬间 -->
     <div class="live-bg">
        <h3>展会服务</h3>
        <div class="service-container">
            <div class="service-item">
                <div class="service-item-detail">
                    <img class="detail-image" width="60" src="images/icon.png"/>
                <div class="detail">
                    服务项目服务项
                </div>
               
                </div>
            </div>
            <div class="service-item">
                <div class="service-item-detail">
                    <img class="detail-image" width="60" src="images/icon.png"/>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                </div>
            </div>
            <div class="service-item">
                <div class="service-item-detail">
                    <img class="detail-image" width="60" src="images/icon.png"/>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                </div>
            </div>
            <div class="service-item">
                <div class="service-item-detail">
                    <img class="detail-image" width="60" src="images/icon.png"/>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                </div>
            </div>
            <div class="service-item">
                <div class="service-item-detail">
                    <img class="detail-image" width="60" src="images/icon.png"/>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                </div>
            </div>
          </div>
    </div>
     <!-- 精彩瞬间 -->
     <div class="live-bg">
        <h3>展会服务</h3>
        <div class="service-container">
            <div class="service-item">
                <div class="service-item-detail">
                    <img class="detail-image" width="60" src="images/icon.png"/>
                <div class="detail">
                    服务项目服务项
                </div>
               
                </div>
            </div>
            <div class="service-item">
                <div class="service-item-detail">
                    <img class="detail-image" width="60" src="images/icon.png"/>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                </div>
            </div>
            <div class="service-item">
                <div class="service-item-detail">
                    <img class="detail-image" width="60" src="images/icon.png"/>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                </div>
            </div>
            <div class="service-item">
                <div class="service-item-detail">
                    <img class="detail-image" width="60" src="images/icon.png"/>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                </div>
            </div>
            <div class="service-item">
                <div class="service-item-detail">
                    <img class="detail-image" width="60" src="images/icon.png"/>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                </div>
            </div>
          </div>
    </div>
     <!-- 精彩瞬间 -->
     <div class="live-bg">
        <h3>展会服务</h3>
        <div class="service-container">
            <div class="service-item">
                <div class="service-item-detail">
                    <img class="detail-image" width="60" src="images/icon.png"/>
                <div class="detail">
                    服务项目服务项
                </div>
               
                </div>
            </div>
            <div class="service-item">
                <div class="service-item-detail">
                    <img class="detail-image" width="60" src="images/icon.png"/>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                </div>
            </div>
            <div class="service-item">
                <div class="service-item-detail">
                    <img class="detail-image" width="60" src="images/icon.png"/>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                </div>
            </div>
            <div class="service-item">
                <div class="service-item-detail">
                    <img class="detail-image" width="60" src="images/icon.png"/>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                </div>
            </div>
            <div class="service-item">
                <div class="service-item-detail">
                    <img class="detail-image" width="60" src="images/icon.png"/>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                </div>
            </div>
            <div class="service-item">
                <div class="service-item-detail">
                    <img class="detail-image" width="60" src="images/icon.png"/>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                <div class="detail">
                    服务项目1
                </div>
                </div>
            </div>
          </div>
    </div>
    <div class="ban-bot">
        <img src="images/banner-b.jpg" usemap="#Map" alt="">

    </div>
    <div class="main1 clear">
        <div class="m1-l fl"></div>
        <div class="m1-r fl">
            <div class="ab-tit mt20"></div>
            <h1>绍兴丝丝纺织品有限公司</h1>
            <p>　　始建于一九三五年的绍兴丝丝纺织品有限公司，作为民族毛纺工业的摇篮，不仅开创了我国精纺呢绒的先河，而且为发展和振兴中国民族毛纺工业作出了巨大贡献。</p>

            <p>　　目前公司占地面积200亩，注册资金1亿元，拥有资产总额5亿元，员工800人，精纺纱锭25000枚，年产高档精纺呢绒600万米，产品60%以上远销北美、欧洲、韩国、日本、香港等国家和地区。</p>

            <p>　　80多多来，协新人本着一种&ldquo;协力同心，协力维新&rdquo;的创业精神，以&ldquo;立民族志气，扬协新精品；跻国际水平，创世界品牌&rdquo;为质量目标，矢志不渝地弘扬&ldquo;敬业、爱厂，发展毛纺事业；创业、报国，振兴民族大业&rdquo;的企业精神，坚定不移地创建民族工业品牌。公司相继被认定为&ldquo;国家一级企业&rdquo;、&ldquo;全国纺织管理优秀企业&rdquo;、&ldquo;全国质量效益型先进企业&rdquo;&nbsp;...
            </p>
            <a class="indmore" href="cabout.html">查看更多</a>
        </div>
    </div><!-- main1结束 -->
    <div>
        <img src="./images/index_banner02.jpg" alt="">
    </div>
    <!-- 首页产品列表 -->
    <div class="main2">
        <ul class="wrap clear">

            <li>
                <a href="产品详情.html"><img src="images/p15.jpg" width="240" alt="">
                    <div class="m2zz"></div>
                </a>
            </li>
            <li>
                <a href="产品详情.html"><img src="images/p15.jpg" width="240" alt="">
                    <div class="m2zz"></div>
                </a>
            </li>
            <li>
                <a href="产品详情.html"><img src="images/p15.jpg" width="240" alt="">
                    <div class="m2zz"></div>
                </a>
            </li>
            <li>
                <a href="产品详情.html"><img src="images/p15.jpg" width="240" alt="">
                    <div class="m2zz"></div>
                </a>
            </li>
            <li>
                <a href="产品详情.html"><img src="images/p15.jpg" width="240" alt="">
                    <div class="m2zz"></div>
                </a>
            </li>
            <li>
                <a href="产品详情.html"><img src="images/p15.jpg" width="240" alt="">
                    <div class="m2zz"></div>
                </a>
            </li>
            <li>
                <a href="产品详情.html"><img src="images/p15.jpg" width="240" alt="">
                    <div class="m2zz"></div>
                </a>
            </li>
            <li>
                <a href="产品详情.html"><img src="images/p15.jpg" width="240" alt="">
                    <div class="m2zz"></div>
                </a>
            </li>

        </ul>
    </div><!-- main2结束 -->

    <div class="main4box">
        <div class="main4 wrap">
            <div class="m4-tit">
                <h2>THE XIEXIN NEWS</h2>
                <p>绍兴丝丝纺织品有限公司</p>
            </div>
            <div class="m4-con mt40 clear">
                <ul id="target" class="m4-list fl">
                    <li class="clear">
                        <span class="m4-time">2023-05-22</span>
                        <div class="m4-conr fl">
                            <h3><a href="新闻详情.html">公司科技研发项目通过专家组验收</a></h3>
                            <p><a
                                    href="新闻详情.html">　　2018年11月23日，公司与江南大学合作的&ldquo;基于生物整理技术的多功能舒适性薄型高档呢绒面料研发&rdquo;项目验收会议在...</a>...
                            </p>
                        </div>
                    </li>
                    <li class="clear">
                        <span class="m4-time">2018-11-24</span>
                        <div class="m4-conr fl">
                            <h3><a href="新闻详情.html">公司科技研发项目通过专家组验收</a></h3>
                            <p><a
                                    href="新闻详情.html">　　2018年11月23日，公司与江南大学合作的&ldquo;基于生物整理技术的多功能舒适性薄型高档呢绒面料研发&rdquo;项目验收会议在...</a>...
                            </p>
                        </div>
                    </li>
                </ul>
                <ul class="m4-r fl">
                    <li>
                        <img src="images/xw-zhan.jpg" width="520" height="302">
                        <div class="m4zz">
                            <h3>绍兴丝丝纺织品有限公司突发环境事件应急预案</h3>
                            <div class="m4zz-con">
                                <div class="r-con">
                                    <span class='m4zzr1'>最新动态</span><br />
                                    <span class='m4zzr2'>丝丝纺织</span><br />
                                    <span class='m4zzr3'>NEWS CENTER</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="images/xw-zhan.jpg" width="520" height="302">
                        <div class="m4zz">
                            <h3>公司党委组织部分党员赴南京雨花台烈士纪念馆参观学习</h3>
                            <div class="m4zz-con">
                                <div class="r-con">
                                    <span class='m4zzr1'>最新动态</span><br />
                                    <span class='m4zzr2'>丝丝纺织</span><br />
                                    <span class='m4zzr3'>NEWS CENTER</span>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div><!-- main4结束 -->
    <div class="main5 wrap">
        <div class="title">
            友情链接
        </div>
        <div class="map-box">
            <div class="box">
                <a href="#">
                    <img src="images/ssfz.png" alt="">
                </a>
            </div>
            <div class="box">
                <a href="#">
                    <img src="images/qfc.png" alt="">
                </a>
            </div>
        </div>

    </div><!-- main5结束 -->


    <div class="foottop"><div class="tex">联系方式</div></div>
    <div class="footer">
        <div class="wrap">
            <div class="address">

                <span>
                    <div class="index-box">
                        <img class="logo" src="images/icon.png" alt="">
                        <div class="title">
                            绍兴丝丝纺织品有限公司
                            <p>
                                www.xxxx.com
                            </p>
                        </div>
                    </div>
                </span>

                <span>联系人： 214192</span>
                <span>电 话： 0510-68902678</span>
                <span>手机号码： 0510-68902698</span>
                <span>邮箱账号： <a href="#">xxxx@xxxx.com</a></span>
            </div>
            <div class="copybox clear">
                <div class="copy fl">
                    <br>
                    <span>公司地址：xxxxxxxxxx</span>&nbsp;<br>

                    备案序号：<a href="#" target="_blank">苏ICP备10217375号-1</a>&nbsp;
                </div>
                <img class="ewm fr" src="images/ewm.jpg" alt=" 二维码">
            </div>
        </div>
    </div><!-- footer结束 -->

    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="js/jquery.banner.revolution.min.js"></script>
    <script type="text/javascript" src="js/banner.js"></script>
    <script type="text/javascript">
        //动态添加序号
        function setSN(e) {
            var ul = document.getElementById(e);
            var lis = ul.getElementsByTagName('li');
            for (var i = 0, l = lis.length; i < l; i++) {
                var tHTML = lis[i].innerHTML
                lis[i].innerHTML = '<div class="m4-num fl">0' + (i + 1) + '</div>' + tHTML;
            }
        }
        setSN('target');
        //选项卡切换
        $(function () {
            $(".m4-list li").hover(function () {
                var index = $(this).index(); //获取被按下按钮的索引值，需要注意index是从0开始的
                $(".m4-r li").eq(index).show().siblings().hide(); //在按钮选中时在下面显示相应的内容，同时隐藏不需要的框架内容
            });
        });
    </script>