<!-- header.html -->
<header class="header">
    <!-- #顶部导航栏 -->
    <div class="nav-bg">
        <ul class="nav fl clear">
            <li><button class="dropdown-trigger" aria-haspopup="true">
                首页22222
              </button>
              <div class="dropdown-menu" style="display:none">
                <a href="detail.html" class="dropdown-menu-detail" href="#">子标题1</a>
                <a class="dropdown-menu-detail" href="#">子标题3</a>
                <!-- 其他菜单项 -->
              </div></li>
            <li>｜</li>
            <li><button class="dropdown-trigger" aria-haspopup="true">
                纺博会概况
              </button>
              <div class="dropdown-menu" style="display:none">
                <a class="dropdown-menu-detail" href="#">子标题1</a>
                <a class="dropdown-menu-detail" href="#">子标题1</a>
                <!-- 其他菜单项 -->
              </div>
            </li>
            <li>｜</li>
            <li><button class="dropdown-trigger" aria-haspopup="true">
                新闻中心
              </button>
              <div class="dropdown-menu" style="display:none">
                <a class="dropdown-menu-detail" href="#">子标题1</a>
                <a class="dropdown-menu-detail" href="#">子标题1</a>
                <!-- 其他菜单项 -->
              </div></li>
            <li>｜</li>
            <li><button class="dropdown-trigger" aria-haspopup="true">
                展商入口
              </button>
              <div class="dropdown-menu" style="display:none">
                <a class="dropdown-menu-detail" href="#">子标题1</a>
                <a class="dropdown-menu-detail" href="#">子标题1</a>
                <!-- 其他菜单项 -->
              </div></li>
            <li>｜</li>
            <li><button class="dropdown-trigger" aria-haspopup="true">
                客商入口
              </button>
              <div class="dropdown-menu" style="display:none">
                <a class="dropdown-menu-detail" href="#">子标题1</a>
                <a class="dropdown-menu-detail" href="#">子标题1</a>
                <!-- 其他菜单项 -->
              </div></li>
            <li>｜</li>
            <li><button class="dropdown-trigger" aria-haspopup="true">
                参展商名录
              </button>
              <div class="dropdown-menu" style="display:none">
                <a class="dropdown-menu-detail" href="#">子标题1</a>
                <a class="dropdown-menu-detail" href="#">子标题1</a>
                <!-- 其他菜单项 -->
              </div></li>
            <li>｜</li>
            <li><button class="dropdown-trigger" aria-haspopup="true">
                中国轻纺城
              </button>
              <div class="dropdown-menu" style="display:none">
                <a class="dropdown-menu-detail" href="#">子标题1</a>
                <a class="dropdown-menu-detail" href="#">子标题1</a>
                <!-- 其他菜单项 -->
              </div></li>
            <li>｜</li>
            <li><button class="dropdown-trigger" aria-haspopup="true">
                服务中心
              </button>
              <div class="dropdown-menu" style="display:none">
                <a class="dropdown-menu-detail" href="#">子标题1</a>
                <a class="dropdown-menu-detail" href="#">子标题1</a>
                <!-- 其他菜单项 -->
              </div></li>
            
        </ul>
        <div class="lang fr">
            <a  href="#">中文版</a>　|　<a href="#">English</a>
        </div>
       
    </div>
    <div class="change-btn">
        <div class="logo fl"><img class="header-image" src="images/logo.png" alt="Logo" /></div>
       
        <div class="lang1 fr">
            <button class="expo-nav-btn">秋季纺博会</button>
        </div>
        <div class="lang2 fr">
            <a href="#"> 柯桥多云转晴 <span class="temperature">25度</span> 柯桥多云转晴 <span class="temperature">25度</span></a>　
        </div>
    </div>
    
       

    
</header><!-- header结束 -->